#sty{
    background-color: aquamarine;
}



#aaa{
    background-color: darkcyan;
    width: 200px;
    height: 200px;
    position: fixed;
    border-radius: 50%;
    position: absolute;

}

#bbb{
    background-color: aquamarine;
    width: 150px;
    height: 150px;
    position: fixed;
    border-radius: 50%;
    position: absolute;

}

#ccc {

    background-color: silver;
    width: 100px;
    height: 100px;
    position: fixed;
    border-radius: 50%;
    position: absolute;

}
#ddd {

    background-color: black;
    width: 50px;
    height: 50px;
    position: fixed;
    border-radius: 50%;
    position: absolute;

}
#eee {
    background-color: white;
    width: 25px;
    height: 25px;
    position: fixed;
    border-radius: 50%;
    position: absolute;

}

#fff{
    background-color: grey;
    width: 5px;
    height: 5px;
    position: fixed;
    border-radius: 50%;
    position: absolute;
}